.btn {
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 5px;
  background-color: slategray;
  margin-bottom: 30px;
  color: white;
}

body {
  height: 100vh;
}

.btn__container {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  display: flex;
  justify-content: center;
}
