.btn {
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 5px;
  background-color: slategray;
  margin-bottom: 30px;
  color: white;
}

body {
  height: 100vh;
}

.btn__container {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 768px) {
  .dice {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }
  .image {
    width: 150px;
    height: 150px;
  }
}
